@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11pt;
  line-height: 20px;
  color: white;
}

html, #root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Inter";
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  font: "Inter";
}

mark {
  font-weight: 600;
  color: #A6CE56;
  background: 0;
}

span.semibold {
  font-weight: 600;
}

hr {
  width: 100%;
  height: 1px;
  border: none;
  background-color: #333;
}