.Error {
  font-size: smaller;
  color: #e32d2d;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 0;
  height: 10px;
}

.SubmitError {
  font-size: smaller;
  color: #e32d2d;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 0;
  height: 10px;
  width: auto;
  margin-bottom: 25px;
  text-align: center;
}

.InputLogin {
  background: none;
  border: 1px solid rgba(166, 206, 86, 0.8);
  box-sizing: border-box;
  width: 370px;
  height: 52px;
  padding: 15px;
}

.SubmitButton {
  width: 370px;
  height: 52px;
  border: 1px solid rgba(166, 206, 86, 0.8);
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition-delay: 0.15s;
}

.InputTitle{
  font-size: smaller;
  color: #A6CE56;
  padding-bottom: 3px;
}

.Line{
  width: 370px;
  height: 5px;
}

.ColorLine{
  stroke: rgba(166, 206, 86, 0.06);
  stroke-width: 2px;
}
