.Sidebar {
  min-width: 320px;
  height: 100%;
  background-color: #262626;
  padding: 35px 35px;
  position: fixed;
}

.MainButton {
 /* margin: 0 30px;
  width: calc(100% - 60px);*/
  width: 100%;
}

.Separator {
  margin-top: 25px;
}