.MsgListContainer {
  width: auto;
}

.MsgPreviewContainer {
  height: 60px;
  padding: 20px;
  align-items: center;

  background: #a6e32d18;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #a7e32d;

  transition: all linear 0.5s;
}

.MsgPreviewContainer:hover {
  background: #5a771f18;
}

.MsgPreviewContainer--Read {
  background: #5a771f18;
  color: #6c8344;
  transition: all linear 0.5s;
}
.MsgPreviewContainer--Active {
  color: white;
  transition: all linear 0.5s;
}

.SelectBox {
  display: inline-block;
  vertical-align: middle;

  width: 20px;
  height: 20px;
  border: 2px solid rgba(166, 206, 86, 0.19);
  box-sizing: border-box;
  border-radius: 2px;
}

.SelectBox:hover {
  background-color: #97b8548e;
}

.MsgTitle {
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;

  color: inherit;
  font-weight: bold;
}

.MsgSubject {
  margin-left: 20px;
  display: inline-block;
  vertical-align: middle;

  color: inherit;
}

.MsgDateTime {
  margin-left: 20px;
  display: inline-block;
  vertical-align: middle;

  color: inherit;
}

.MsgContent {
  font-size: large;
  max-height: none;
  min-height: 160px;
  background-color: #a6e32d0e;
  color: #acacac;

  transition: max-height 0.5s ease-in-out;
}

.MsgContent--Collapsed {
  max-height: 0;
  min-height: 0;
  overflow: hidden;
  padding: 0;

  color: #a6e32d0e;

  transition: max-height 0.5s ease-in-out;
}

.MsgContentText {
  display: inline-block;
  max-width: 85%;
  padding: 10px 10px 40px 50px;
}

.MsgContentSentTo {
  max-width: 85%;
  padding: 10px 5px 0px 50px;
}

.MsgContentButtons {
  display: inline-flex;
  flex-direction: column;
  align-content: space-between;
  align-items: flex-start;
  max-width: 15%;
  padding-right: 10px;
  float: right;
}

.NewMsgBackground {
  opacity: 40%;
  background-color: #161812;
}
