.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

.loginBox {
  color: #a6ce56;
  max-width: 527px;
  max-height: 523px;
  background: #262626;
  padding: 50px;
}

.teamWord {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 44px;

  color: #ffffff;
}

.worksWord {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 44px;
  color: #a7e32d;
}

.error {
  font-size: smaller;
}
