.EditableField {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    position: relative;
    height: 40px;
}

.EditableField--Editing {
    width: 300px;
}

.EditableField--Smaller {
    width: 100%;
}

.EditableField--OnlyInput {
    margin-bottom: 5px;
    cursor: inherit;
    width: 300px;
}

.LoadingPlaceholder {
    width: 300px;
    height: 100%;
    animation: placeholderPulse 0.5s ease;
}

@keyframes placeholderPulse {
    0% {
        background-color: #a6ce561a;
    }

    50% {
        background-color: #a6ce5636;
    }

    100% {
        background-color: #a6ce561a;
    }
}

.PenIcon {
    color: #a6ce5636;
    margin-left: 20px;
}

.EditingInput {
    width: calc(100% - 40px);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    padding-left: 20px;
    padding-right: 30px;
}

.EditingInput:focus {
    outline: none;
    border-color: rgba(255, 255, 255, 0.8);
}

.EditingOkButton {
    width: 50px;
    height: 100%;
    position: absolute;
    right: 0;
    border-radius: 0;
}

.CopiedSpan {
    margin-left: 20px;
}

.CopiedSpan--Error {
    color: #ff4848;
}