.UserList {
    width: 100%;
    max-width: 900px;
    background: #262626;
}

.UserList__thead {
    border-bottom: solid 1px #444;
    background: #434343;
}

.UserList th {
    text-align: left;
    font-weight: 600;
}

.UserList td {
    padding: 10px 0;
}