.Section {
  width: calc(100% - 320px);
  min-height: calc(100% - 90px);
  background-color: #161812;
  position: absolute;
  left: 320px;
  top: 90px;
}

.Section--Lighter {
  background-color: #2D2D2D;
}