.SettingGroupsContainer {
  padding: 40px 60px;
}

.EditableSettingGroup {
  margin-bottom: 35px;
}

.SettingGroup__P {
  margin: 5px 0 20px 0;
}

.DangerTitle {
  color: #ff3c3c;
  font-weight: 600;
  font-size: 13pt;
}
