.GradientButton {
    height: 45px;
    border-radius: 3px;
    background: linear-gradient(45deg, #A6CE56, #D1EF7C);
    padding: 0;
    cursor: pointer;
    color: #222;
    transition: background 0.2s;
    padding: 12px 30px;
    font: inherit;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.1s, box-shadow 0.1s;
    user-select: none;
    border: none;
}

.GradientButton:disabled {
    background: #0000;
}