.Error {
  font-size: smaller;
  color: #e32d2d;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 0;
  height: 10px;
  text-align: right;
}

.SubmitError {
  font-size: smaller;
  color: #e32d2d;
  margin: 10px;
  margin-top: 5px;
  height: 10px;
  width: auto;
  margin-bottom: 25px;
  text-align: center;
}

.InputNewToDo {
  margin-top: 15px;
  display: inline-block;
  vertical-align: middle;
  width: 80%;
  height: 52px;
  text-align: left;
  background: transparent;
  color: lightgray;
  border: 0;
}

.InputLogin {
  width: 100%;
  height: 52px;
  padding: 15px;
}

.Input {
  background: none;
  border: 1px solid rgba(166, 206, 86, 0.8);
  box-sizing: border-box;
  font: inherit;
  font-weight: 400;
}

.Input:-webkit-autofill,
.Input:-webkit-autofill:hover,
.Input:-webkit-autofill:focus,
.Input:-webkit-autofill:active {
  transition: background-color 0s ease-in-out 5000s, color 5000s;
  -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0.041) inset;
}

.Input:focus .InputNewToDo:focus {
  outline: none;
}

.SubmitButton {
  width: 100%;
  height: 52px;
  border: 1px solid rgba(166, 206, 86, 0.8);
  box-sizing: border-box;
  cursor: pointer;
  /* -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition-delay: 0.15s; */
}

.InputTitle {
  font-size: smaller;
  color: #a6ce56;
  padding-bottom: 3px;
}

.Line {
  width: 100%;
  height: 5px;
}

.ColorLine {
  stroke: rgba(166, 206, 86, 0.06);
  stroke-width: 2px;
}

.InputNewMsg{
  border-radius: 4px;
  background: #262626;
  height: 40px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
