.TagTab {
  margin: 0 -35px;
  width: calc(100% + 70px);
  padding: 5px 35px;
  font-size: 13pt;
  font-weight: 400;
  cursor: pointer;
  transition: box-shadow 0.05s;
  user-select: none;
}

.TagTab:hover {
  box-shadow: inset 0 0 0 100px #fff1;
}

.TagTab:active {
  box-shadow: inset 0 0 0 100px #0001;
}

.TagTab--Selected {
  background-color: #3e4237;
  font-weight: 600;
}

.Circle {
  margin: 0;
  display: inline-block;
  border: 0;
  width: 20px;
  height: 20px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
