.PickerBox {
  background: linear-gradient(91.13deg, #292d22 0%, #292d22 100%);
  border: 0.847162px solid rgba(166, 206, 86, 0.8);
  box-sizing: border-box;
  border-radius: 3.38865px;
  width: 100%;

  text-align: center;
  color: #c8e874;
  outline: none;
  position: relative;
}

.PickerBox:hover {
  background: #e8fdb354;
}

.PickerBox::after {
  content: "";
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 0;
  width: 15px;
  transform: rotate(90deg);
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zOnN2Z2pzPSJodHRwOi8vc3ZnanMuY29tL3N2Z2pzIiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgeD0iMCIgeT0iMCIgdmlld0JveD0iMCAwIDkwNy42MiA5MDcuNjE5IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1MTIgNTEyIiB4bWw6c3BhY2U9InByZXNlcnZlIiBjbGFzcz0iIj48Zz4KPGcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KCTxwYXRoIGQ9Ik01OTEuNjcyLDkwNy42MThjMjguOTk1LDAsNTIuNS0yMy41MDUsNTIuNS01Mi41VjE3OS44MzlsNDIuMTkxLDQxLjY4OGMxMC4yMzIsMTAuMTEsMjMuNTY3LDE1LjE1NSwzNi44OTgsMTUuMTU1ICAgYzEzLjU0MSwwLDI3LjA3OC01LjIwNywzNy4zNDctMTUuNjAxYzIwLjM3OS0yMC42MjUsMjAuMTgtNTMuODY1LTAuNDQ1LTc0LjI0NEw2MjYuODkyLDE1LjE1NUM2MTcuMDYyLDUuNDQyLDYwMy44MDMsMCw1ODkuOTkzLDAgICBjLTAuMTA0LDAtMC4yMTEsMC0wLjMxNCwwLjAwMWMtMTMuOTIzLDAuMDg0LTI3LjI0NCw1LjY5NC0zNy4wMywxNS42bC0xMjkuOTEzLDEzMS40OGMtMjAuMzc5LDIwLjYyNS0yMC4xOCw1My44NjUsMC40NDUsNzQuMjQ0ICAgYzIwLjYyNiwyMC4zODEsNTMuODY2LDIwLjE4MSw3NC4yNDUtMC40NDVsNDEuNzQ3LTQyLjI1djY3Ni40ODlDNTM5LjE3Miw4ODQuMTEzLDU2Mi42NzcsOTA3LjYxOCw1OTEuNjcyLDkwNy42MTh6IiBmaWxsPSIjZDFlZjdjIiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIiBzdHlsZT0iIiBjbGFzcz0iIj48L3BhdGg+Cgk8cGF0aCBkPSJNMzE1Ljk0OCwwYy0yOC45OTUsMC01Mi41LDIzLjUwNS01Mi41LDUyLjV2Njc2LjQ4OWwtNDEuNzQ3LTQyLjI1Yy0yMC4zNzktMjAuNjI1LTUzLjYyLTIwLjgyNS03NC4yNDUtMC40NDUgICBjLTIwLjYyNSwyMC4zNzktMjAuODI1LDUzLjYxOS0wLjQ0NSw3NC4yNDRsMTI5LjkxMiwxMzEuNDc5YzkuNzg3LDkuOTA1LDIzLjEwNiwxNS41MTgsMzcuMDI5LDE1LjYwMSAgIGMwLjEwNSwwLjAwMSwwLjIxLDAuMDAxLDAuMzE1LDAuMDAxYzEzLjgxLDAsMjcuMDctNS40NDIsMzYuODk5LTE1LjE1NUw0ODQuNDQsNzYwLjc4YzIwLjYyNS0yMC4zNzksMjAuODI0LTUzLjYxOSwwLjQ0NS03NC4yNDQgICBjLTIwLjM3OS0yMC42MjYtNTMuNjItMjAuODI1LTc0LjI0NS0wLjQ0NWwtNDIuMTkyLDQxLjY4OFY1Mi41QzM2OC40NDgsMjMuNTA1LDM0NC45NDMsMCwzMTUuOTQ4LDB6IiBmaWxsPSIjZDFlZjdjIiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIiBzdHlsZT0iIiBjbGFzcz0iIj48L3BhdGg+CjwvZz4KPGcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPC9nPgo8ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8L2c+CjxnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjwvZz4KPGcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPC9nPgo8ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8L2c+CjxnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjwvZz4KPGcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPC9nPgo8ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8L2c+CjxnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjwvZz4KPGcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPC9nPgo8ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8L2c+CjxnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjwvZz4KPGcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPC9nPgo8ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8L2c+CjxnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjwvZz4KPC9nPjwvc3ZnPg==")
    center / contain no-repeat;
}

.CollapsedDPTPicker {
  overflow: hidden;
}

.DepartmentPicker {
  display: inline-block;
  width: 30%;
}
.ProjectPicker {
  display: inline-block;
  width: 70%;
}

.CollapsedDepartment {
  display: block;
  width: 100%;
  border: 0;
  background-color: #292d22;
  box-shadow: inset 0 0 0 100px #fff1;
}
