.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

.LoginBox {
  color: #a6ce56;
  max-width: 527px;
  max-height: 523px;
  background: #262626;
  padding: 50px;
}

.TeamWord {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 44px;

  color: #ffffff;
  padding-left: 16%;
}

.WorksWord {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 44px;
  color: #a7e32d;
  padding-right: 16%;
}

.NewTeam {
  color: #a7e32d;
  padding-left: 28%;
  padding-right: 28.5%;
}
